<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foo.manage.modules.sys.dao.MenuMapper">
	
	<select id="menuList" resultType="com.foo.manage.modules.sys.entity.Tree">
		SELECT DISTINCT
		 	sm.MENU_ID id,
		 	sm.MENU_NAME name,
		 	sm.PARENT_ID,
		 	sm.PARENT_NAME,
		 	sm.ICON,
		 	sm.URL
		FROM
			sys_user_role sur
		JOIN sys_role_menu srm ON sur.ROLE_ID = srm.ROLE_ID
		AND sur.USER_ID = #{userId}
		JOIN sys_menu sm ON srm.MENU_ID = sm.MENU_ID
		ORDER BY sm.SORT
	</select>
	
</mapper>