<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foo.manage.modules.sys.dao.RoleMapper">
	
	<select id="roleList" resultType="java.util.Map">
		SELECT
			sr.ROLE_ID,
			sr.ROLE_NAME,
			sr.ROLE_SIGN,
			(
				SELECT
					group_concat(MENU_ID SEPARATOR ',')
				FROM
					sys_role_menu
				WHERE
					ROLE_ID = sr.ROLE_ID
			) menuIds
		FROM
			sys_role sr
		WHERE 1=1
		<if test="roleName != null and roleName != ''">
			ROLE_NAME CONCAT('%',#{roleName},'%')
		</if>
	</select>
	
</mapper>